<a href="https://colab.research.google.com/github/sainathkrothapalli/Data-Analyst-Projects/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [95]:
import pandas as pd
d=pd.read_csv('/content/amazon_products.csv')
d.head()

,Title,Ratings,Total People Rated,Current Price
0,TIAMOU Men Running Walking Shoes Sport Athleti...,4.2 out of 5 stars,"9,013",$45.99
1,"Rospick Slip On Men's Sneakers, Walking Shoes ...",4.1 out of 5 stars,"1,473",$36.99
2,TSIODFO Men's Sneakers Sport Running Athletic ...,4.3 out of 5 stars,"6,050",$46.90
3,VAMJAM Men's Running Shoes Ultra Lightweight B...,4.2 out of 5 stars,"4,109",$34.99
4,Sperry Men's STRIPER II CVO Core Sneaker,4.6 out of 5 stars,"2,156",$39.95

In [96]:
d.shape

(319, 4)

In [97]:
d.columns=['Title','Ratings','Total_people_rated','Price']
d.head()

,Title,Ratings,Total_people_rated,Price
0,TIAMOU Men Running Walking Shoes Sport Athleti...,4.2 out of 5 stars,"9,013",$45.99
1,"Rospick Slip On Men's Sneakers, Walking Shoes ...",4.1 out of 5 stars,"1,473",$36.99
2,TSIODFO Men's Sneakers Sport Running Athletic ...,4.3 out of 5 stars,"6,050",$46.90
3,VAMJAM Men's Running Shoes Ultra Lightweight B...,4.2 out of 5 stars,"4,109",$34.99
4,Sperry Men's STRIPER II CVO Core Sneaker,4.6 out of 5 stars,"2,156",$39.95

In [98]:
d['Price']=d['Price'].str[1:]
d.Price.astype('float')
d.Price

0      45.99
1      36.99
2      46.90
3      34.99
4      39.95
       ...
314    34.99
315    39.90
316    29.99
317    74.95
318    80.00
Name: Price, Length: 319, dtype: object

In [103]:
d.drop_duplicates(inplace=True)
d.reset_index(drop=True,inplace=True)
d

,Title,Ratings,Total_people_rated,Price
0,TIAMOU Men Running Walking Shoes Sport Athleti...,4.2 out of 5 stars,"9,013",45.99
1,"Rospick Slip On Men's Sneakers, Walking Shoes ...",4.1 out of 5 stars,"1,473",36.99
2,TSIODFO Men's Sneakers Sport Running Athletic ...,4.3 out of 5 stars,"6,050",46.90
3,VAMJAM Men's Running Shoes Ultra Lightweight B...,4.2 out of 5 stars,"4,109",34.99
4,Sperry Men's STRIPER II CVO Core Sneaker,4.6 out of 5 stars,"2,156",39.95
...,...,...,...,...
209,adidas Men's Unisex Adicross Zx Primeblue Spik...,4.1 out of 5 stars,57,68.00
210,adidas Unisex-Adult Dame 8 Basketball Shoe,5.0 out of 5 stars,8,93.94
211,Nike Men's Roshe G Tour Golf Shoes,4.4 out of 5 stars,370,84.99
212,PUMA Men's Ignite Fasten8 Pro Golf Shoe,4.6 out of 5 stars,225,76.84
213,Adidas Wrestling HVC Youth Laced Wrestling Sho...,4.6 out of 5 stars,"4,310",51.01

In [105]:
d['Rating']=d['Ratings'].str[:3]
d.drop(['Ratings'],axis=1,inplace=True)
d['Rating']

0      4.2
1      4.1
2      4.3
3      4.2
4      4.6
      ...
209    4.1
210    5.0
211    4.4
212    4.6
213    4.6
Name: Rating, Length: 214, dtype: object

In [106]:
d.head()

,Title,Total_people_rated,Price,Rating
0,TIAMOU Men Running Walking Shoes Sport Athleti...,"9,013",45.99,4.2
1,"Rospick Slip On Men's Sneakers, Walking Shoes ...","1,473",36.99,4.1
2,TSIODFO Men's Sneakers Sport Running Athletic ...,"6,050",46.90,4.3
3,VAMJAM Men's Running Shoes Ultra Lightweight B...,"4,109",34.99,4.2
4,Sperry Men's STRIPER II CVO Core Sneaker,"2,156",39.95,4.6

In [107]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               214 non-null    object
 1   Total_people_rated  214 non-null    object
 2   Price               214 non-null    object
 3   Rating              214 non-null    object
dtypes: object(4)
memory usage: 6.8+ KB

In [114]:
d.describe()

,Title,Total_people_rated,Price,Rating
count,214,214,214,214
unique,208,202,164,11
top,adidas Men's Runfalcon 2.0 Running Shoe,370,99.95,4.6
freq,2,2,7,62